page-home {

    div.home_body {
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
        text-align: center;
       
    }

    h3 {
        font-weight: bold;
    }

    .voce_sabia {
        margin: 50px 15px;
        text-align: center;
    }


}
