page-intro {
    button.disable-hover.button.button-ios.button-default.button-default-ios.button-round.button-round-ios.button-ios-light {
        color: white;
        background-color: red;
        font-weight: bold;
        font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }
}
